/* ? properties */

body{
    height: auto;
    width: auto;
    border: 1em solid black;
}
.toolBar{
    height: 20vh;
    width: 80vw;
    border: 1em solid blue;

}

.sketchPad{
    height: auto;
    max-width: 80vw;
    border: 1em solid red;
    justify-content: center;
    align-items: center;
}
/* will effect the cubes created */
.sketchPad div{
    border: 3px solid orange;
    width: 1em;
    height: 1em;
    
}



/* ? flexbox */

body {
    display: flex;
    flex-flow:column wrap;
    gap: 10em;
    padding: 2em;
    /* justify-content: center; */
    align-items: center;
}

.toolBar{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

.sketchPad{
    display: flex;
    flex-flow: row wrap;
}